.menu-container {
  padding-left: 160px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  font-size: 18px;
}

.details {
  font-size: 14px;
}

.menu a {
  padding-left: 80px;
}
.menu .details:hover{
  text-decoration: underline;
} 